/**
*** least.js 2
*** Author: Kamil Czujowski - @kamilczujowski
*** Version: 2.2.0
*** Made with ♥	in Hamburg, Germany.
*** http://kamilczujowski.de
**/

/* @group BASE */
* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    border: 0;
}
/* @end */