/**
*** least.js 2
*** Author: Kamil Czujowski
*** Version: 2.0.1
*** love. hamburg. 2014 by Kamil Czujowski - All rights reserved.
*** http://kamilczujowski.de
**/

/* @group Options */

	/* @group Master */
	$thumbnail-text: true; /* enable (true) or disable (false) thumbnails title text */
	$outline: true; /* enable (true) or disable (false) thumbnails border */
	$loading: "Loading..."; /* default "loading" thumbnails text */
	/* @end */

	/* @group Vars: Colors */
	$color-black: #000;
	$color-white: #fff;
	$color-gray: #666;
	$color-gray-light: #f1f0f0;
	$color-creem: #f5f5f5;
	/* @end */

	/* @group Gallery-Fullscreen */
	$max-fullscreen-size: 960px; /* default size for fullscreen preview  */
	/* @end */

	/* @group Gallery-Thumbails */
	$thumbnail-size-width: 240px; /* default "width" size for thumbnails */
	$thumbnail-size-height: 150px; /* default "height" size for thumbnails */
	$text-thumbnail-view: "View Picture"; /* default "view picture" text for thumbnails mouseover */
	/* @end */

/* @end */